{% extends 'base.html.twig' %}

{% block title %}{{ 'entity.activity'|trans }}{% endblock %}
{% block card_actions %}
    <a class="btn btn-link" href="{{ path('app_activity_index') }}">{{ 'actions.back'|trans }}</a>
    <a class="btn btn-link" href="{{ path('app_activity_edit', {'id': activity.id}) }}">{{ 'actions.edit'|trans }}</a>
    {{ include('activity/_delete_form.html.twig') }}
{% endblock %}
{% block body %}
    {{ activity.name }}
{% endblock %}
