{% extends 'base.html.twig' %}

{% block title %}{{ 'actions.edit'|trans }} {{ "entity.workday_template"|trans }}{% endblock %}
{% block card_actions %}
    <a class="btn btn-link" href="{{ path('app_workday_template_index') }}">{{ 'actions.back'|trans }}</a>
    {{ include('workday_template/_delete_form.html.twig') }}
{% endblock %}
{% block body %}

    {{ include('workday_template/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
