{% extends 'base.html.twig' %}

{% block title %}{{ 'actions.edit'|trans }} {{ 'entity.goal'|trans }}{% endblock %}

{% block body %}
    {{ include('goal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_goal_index') }}">{{ 'actions.back'|trans }}</a>

    {{ include('goal/_delete_form.html.twig') }}
{% endblock %}
