{% extends 'base.html.twig' %}

{% block title %}{{ 'entity.goals'|trans }}{% endblock %}
{% block card_actions %}
    <a href="{{ path('app_goal_new') }}" class="btn btn-outline-primary">{{ 'actions.new'|trans }}</a>
{% endblock %}
{% block body %}
    <div class="card-body">
        <div class="row">
            {% for goalType, goalList in goals %}
                <div class="col">
                    <h2>{{ goalType|capitalize }}</h2>
                    <ul class="list-group">
                        {% for goal in goals[goalType] %}
                            <li class="list-group-item">
                                <a class="btn " href="{{ path('app_goal_show', {'id':goal.id}) }}">{{ goal.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div><!-- .col -->
            {% endfor %}
        </div><!-- .row -->
    </div><!-- .card-body -->
{% endblock %}
