{% extends 'base.html.twig' %}

{% block title %}{{ 'actions.new'|trans }} {{ 'entity.goal'|trans }}{% endblock %}
{% block card_actions %}
    <a class="btn btn-link" href="{{ path('app_goal_index') }}">{{ 'actions.back'|trans }}</a>
{% endblock %}
{% block body %}
    {{ include('goal/_form.html.twig') }}
{% endblock %}
