{% extends 'base.html.twig' %}

{% block title %}{{ 'actions.new'|trans }} {{ 'entity.goal'|trans }}{% endblock %}

{% block body %}
    {{ include('goal/_form.html.twig') }}

    <a href="{{ path('app_goal_index') }}">{{ 'actions.back'|trans }}</a>
{% endblock %}
